[submodule "data/sblgnt-osis"]
	path = data/sblgnt-osis
	url = https://github.com/scott-fleischman/sblgnt-osis.git
[submodule "data/ucd"]
	path = data/ucd
	url = https://github.com/scott-fleischman/ucd.git
[submodule "data/sblgnt-xml"]
	path = data/sblgnt-xml
	url = https://github.com/scott-fleischman/sblgnt-xml.git
[submodule "data/PerseusDL/catalog_data"]
	path = data/PerseusDL/catalog_data
	url = https://github.com/PerseusDL/catalog_data.git
	ignore = all
[submodule "data/PerseusDL/canonical-greekLit"]
	path = data/PerseusDL/canonical-greekLit
	url = https://github.com/PerseusDL/canonical-greekLit.git
	ignore = all
[submodule "data/morphgnt/sblgnt"]
	path = data/morphgnt/sblgnt
	url = https://github.com/morphgnt/sblgnt.git
