span.workListInfo {
  font-size: 75%;
}

span.typeInfoCounts {
  font-size: 75%;
}

span.valueInfoCount {
  font-size: 75%;
}

span.instanceInfo {
  font-size: 75%;
}

div.listContainer {
  margin: 0 1em 2em 1em;
}

div.workContainer {
  margin: 0 1em 2em 1em;
}

div.wordContainer {
  margin: 0 1em 2em 1em;
}

div.wordGroup {
  margin: 0 0 1em 0;
}

a.propertyName {
  font-weight: bold;
  color: #4b4b4b;
}

a.propertyValue {
  color: #4b4b4b;
}

span.propertySeparator {
}

a.workWord {
  color: #4b4b4b;
}

div.showAllButton {
  margin: 1em 0 2em 0;
}
