span.workListInfo {
  font-size: 75%;
}

span.typeInfoCounts {
  font-size: 75%;
}

span.valueInfoCount {
  font-size: 75%;
}

span.instanceInfo {
  font-size: 75%;
}

div.listContainer {
  margin: 0 1em 0 1em;
}

div.workContainer {
  margin: 0 1em 200px 1em;
}

div.wordGroup {
  margin: 0 0 1em 0;
}
